*{
  margin: 0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Comic Sans MS', cursive ;
  color:rgba(72, 122, 222, 0.859)
}
main{
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: rgba(230, 248, 248, 0.859);


}