$blue: #227c9d;
$yellow: #fccb77;
$white: #fef9ef;


body {
    display: grid;
    background-color: $white;
    margin: 0;
    grid-template-rows: 5vh 95vh;
}

#navbar {
    grid-row: 1 / 2;
    background-color: $blue;
    width: 100vw;
    height: 100%;
    grid-template-columns: 20vw 50vw 30vw;
}



