.logindiv {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 10px;
    width: 640px;
    max-width: 640px;
    /* background-color: rgb(196, 215, 215); */
    border: none;

}
Form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

